@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: 114, 38%, 5%;
    --background: 60, 20%, 95%;
    --background-100: 60, 22%, 90%;

    --muted: 173 30% 85%;
    --muted-foreground: 211 5% 35%;

    --primary-50: 113, 36%, 95%;
    --primary-100: 107, 37%, 90%;
    --primary-200: 107 37% 80%;
    --primary-400: 108 37% 60%;
    --primary-500: 108 37% 50%;
    --primary-600: 108 37% 40%;
    --primary-950: 107, 36%, 5%;

    --card: 60, 20%, 95%;
    --card-background: 114, 38%, 5%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 211 5% 90%;

    --border: 114, 38%, 5%;
    --input: 211 30% 18%;
    --ring: 108 37% 50%;
    --radius: 0.5rem;

    --secondary-200: 188, 35%, 80%;
    --secondary-600: 189, 36%, 40%;
    --secondary-800: 188, 35%, 20%;

    --accent-200: 216, 37%, 80%;
    --accent-950: 213, 36%, 5%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.chat-height {
  height: calc(100% - 72px);
}

.h-main {
  height: calc(100% - 70px);
}

.h-offer {
  height: calc(100% - 176px);
}

.h-list {
  height: calc(100% - 168px);
}

.h-profile {
  height: calc(100% - 33px);
}
